.BannerApp{
    padding: 10px 5px;
    position: relative;
    z-index: -1;
}

.textlogo{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    top: 40%;
    left: 39%;
    opacity: 10;
    z-index: 800;
    /* background:; */
    transform: all 0.5s;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 20px rgb(8, 245, 20);
    text-shadow: 0 0 10px rgb(228, 41, 8);
}

.textlogo h1{
    color: white;
}

.textlogo h6{
    color: white;
    text-shadow: 0 0 10px black;
}

@media (max-width:913px){
    .textlogo{
        position: absolute;
        top: 40%;
        left: 32.5%;
    }
}

@media (max-width:541px){
    .textlogo{
        position: absolute;
        top: 40%;
        left: 18%;
    }
}

@media (max-width:416px){
    .textlogo{
        position: absolute;
        top: 40%;
        left: 9%;
        /* right: 20%; */
    }
}

@media (max-width:399px){
    .textlogo{
        position: absolute;
        top: 40%;
        left: 6%;
    }
}

@media (max-width:374px){
    .textlogo{
        position: absolute;
        top: 40%;
        left: 1.2%;
        /* right: 20%; */
    }
}

@media (max-width:308px){
    .textlogo{
        position: absolute;
        top: 40%;
        left: 0%;
        padding: 2px;
    }
}


