.CreatePostApp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-title{
    display: flex;
    align-items: center;
    margin: 20px 20px;
    width: 90vw;
}

.create-title input{
   padding: 10px;
   border-radius: 5px;
   margin: 0px 10px;
   width: 500px;
   border-width: 0px;
}

.create-title input:focus{
    outline:none;
    box-shadow: 0 0 20px rgb(16, 233, 16);
}

.category-sec{
    padding: 10px;
    width: 600px;
}

.category-sec:focus{
    outline:none;
    box-shadow: 0 0 20px rgb(16, 233, 16);
}

.create-blog-data textarea{
    width: 90vw;
    margin:0px auto;
    padding: 10px;
    border-radius: 10px;
}

.create-blog-data textarea:focus{
    outline:none;
    box-shadow: 0 0 20px red;
}

.create-blog-button2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
}

.arrow2{
    color: white;
    padding: 0px;
    transition: all 0.5s ;
}

.create-blog-button2 button{
    background: none;
    border-width: 0px;
    color: white;
}

.take-ref{
    display: inline-block;
    position: relative;
}

.back-animation2{
    /* visibility: hidden; */
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    z-index: -1;
    background-color: #09f829;
    transition: all 0.5s ease-out;
}



.create-blog-button2:hover .back-animation2{
    width: 170px;
    border-radius: 50px;
    background-color: #09f0f8;
    box-shadow: 0 0 20px rgb(255, 0, 234);
}

.create-blog-button2:hover .arrow2{
    transform: rotate(360deg);
}